@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

body {
    font-family: 'Open Sans', sans-serif;
}

.p-estatico {
    font-size: 160%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: .2rem;
    word-spacing: .2rem;
    font-size: 2rem;
}

.underline-title {
    border-bottom: 4px solid #FFA72A;
}

header {
    background-image: url("../imagens/header-background.png");
    background-color: #000000;
    background-size: cover;
    color: #FFA72A;
    -webkit-text-stroke: 1px #000000;
}

header h1 {
    font-size: 4rem;
    letter-spacing: .9rem;
    word-spacing: .3rem;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2.2rem;
    }
}

.navbar-brand {
    width: 20%;
}

.navbar-brand .logo {
    width: 100%;
}

.custom-toggler.navbar-toggler {
    border-color: #FFA72A;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(244, 147, 41, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
    letter-spacing: .2rem;
    color: #FFA72A;
    -webkit-text-stroke: 1px #000000;
}

.nav-link:hover {
    color: #F49329;
    text-shadow: 1px 1px 2px #000000;
    -webkit-text-stroke: 0;
}

.increased-size {
    width: 180%;
    height: auto;
}

.border-custom {
    border: 8px solid #FFA72A;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.artistas .card,
.card-body,
.card-header,
.card-footer {
    border: none;
}

.artistas .card .card-body img {
    max-height: 520px;
    width: 100%;
    object-fit: cover;
    border-radius: none;
    border: 8px solid#FFA72A;
}

.artistas .modal .card-footer .btn {
    font-size: .75rem;
}

.btn {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    background-color: #FFA72A;
    color: #FFFFFF;
    text-shadow: 1px 1px #23252A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #F49329;
    color: #FFFFFF;
    text-shadow: 1px 1px #000000;
}

.btn:active {
    background-color: #F49329;
    color: #000000;
    text-shadow: 1px 1px 3px #000000;
}

.btn:active:focus {
    background-color: #000000;
    color: #F49329;
    text-shadow: 1px 1px 4px #23252A;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #FFA72A;
    color: #FFFFFF;
    text-shadow: 1px 1px #23252A;
}

footer .btn {
    border: 1px solid #FFFFFF;
}

footer .btn:hover {
    border: 1px solid #FFFFFF;
}

footer ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

footer ul li a:hover {
    font-weight: bolder;
    text-shadow: 1px 1px 2px #23252A;
}

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border: 1px solid #FFFFFF;
}

.btn-back-to-top:hover {
    border: 1px solid #FFFFFF;
}

.copyright {
    border-top: 4px solid #FFFFFF;
}