@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.containermain{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}

/*-- Header --*/

.containerheader {
    display: flex;
    align-items: center;
    font-size:25px;
    background-color: #FFA500;    
}

a {
    cursor: pointer;
}

.logo,.sociais{
    width: 20%;
    align-items: center;
}

.logo img{
    max-width: 55%;
    cursor: pointer;
    height: auto;
}

.sociais button{
    width: 52px;
    height: 52px;
    background-image: linear-gradient(45deg, #f87902, #ff9900);
    border: none;
    margin-right: 22px;
    border-radius:12px;
    cursor: pointer;
    font-size: 35px;
    color: #fff;
}

/*-- Fim do Header --*/
/*-- Inicio do Body --*/

/*parallax*/
.parallax {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.parallax video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.containertext1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}

.h1parallax {
    font-size: 3rem;
    color: #ffffff;
}

.lead {
    font-size: 1.5rem;
    color: #ff6600;
}
/*fim parallax*/
/* contatos*/

.containercontato {
    margin-top: 40px;
    
}

.containercontato {  
    padding: 10px;
    border-radius: 5px;
}

.containercontato h2 {
    font-size: 28px;
    color: #000000;
}

.containercontato p {
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
}

.dados h3 {
    font-size: 20px;
    color: #333;
    margin-top: 10px;
}

.dados ul {
    list-style: none;
    padding: 0;
}

.dados li {
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
}

.dados li a {
    text-decoration: none;
    color: #007bff;
}

.list-inline {
    padding: 0;
    list-style: none;
}

.list-inline-item {
    margin-right: 10px;
    display: inline-block;
}

.list-inline-item a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

alterar .containermapa {
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}




/*fim contatos*/



/*-- Fim do body --*/
/*-- Inicio do Footer --*/

footer {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #000;
}

.secoes {
    max-width: 1700px;
    margin: auto;
}

.informacoes {
    display: flex;
}

.info1, .info2, .info3 {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    font-size: 12px;
    color: rgb(255, 255, 255);

}

.info1>h1, .info2>h1, .info3>h1 {
    color: rgb(255, 255, 255);
}

/*-- Fim do Footer --*/




