@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@600&display=swap');

body {
    background-image: url('/Imagens/maisena.jpg')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-itens{
    list-style: none;
    display: flex;
}

.nav-itens>li {
    padding-left: 20px;
}